.forgotPasswordDiv {
    padding: 15px 20px 10px 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.forgotPasswordHeaderDiv {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.forgotPasswordSubheaderDiv {
    margin-bottom: 11px;
}

.forgotPasswordErrorDiv {
    color: #DC143C;
}

.sendCodeButton {
    width: 100%;
    margin-top: 10px;
}