.signUpDiv {
    padding: 10px 20px 10px 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.passwordLabelDiv {
    margin-top: 7px;
}

.signUpButton {
    width: 100%;
    margin-top: 15px;
}

.signInDiv {
    margin-top: 7px;
    text-align: center;
}

.signInSpan {
    margin-left: 5px;
    color: #0074D9;
}

.signInSpan:hover {
    cursor: pointer;
    color: #003366;
}

.termsDiv {
    color: #878787;
    text-align: center;
    padding-top: 7px;
    font-size: 12px;
}

.termsLink {
    color: #485063;
    text-decoration: none;
}

.termsLink:hover {
    cursor: pointer;
}