.footerDiv {
    /* text-align: center;
    position: absolute;
    bottom: 10px;
    width: 245px; */
    text-align: center;
    padding-top: 10px;
    width: 100%;
}

.linkA {
    text-decoration: none;
    color: #0074D9;
    padding-left: 3px;
}

.linkA:hover {
    cursor: pointer;
    color: #003366;
}

.footerSpan {
    font-size: 11px;
    color: #485063;
}