.resetPasswordDiv {
    padding: 15px 20px 10px 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.codeDiv {
    display: flex;
    align-items: center;
}

.codeLabelDiv {
    width: 250px;
}

.newPasswordLabelDiv {
    margin-top: 7px;
}

.resetPasswordErrorDiv {
    color: #DC143C;
}

.resetPasswordButton {
    width: 100%;
    margin-top: 10px;
}
