.mainDiv {
    padding: 0 10px 0 10px;
}

.headerDiv {
    text-align: center;
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 0 0 0;
}

.subheaderDiv {
    font-size: 13px;
    padding-bottom: 5px;
}

.nameInputDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
}

.nameInputLeft {
    font-size: 14px;
    margin-right: 3px;
}

.nameInputRight {
    font-size: 14px;
    margin-left: 3px;
}

.ageSubheaderDiv {
    font-size: 14px;
    margin-bottom: 5px;
}

.ageInputDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.ageVerificationInput {
    margin-right: 7px;
}

.genderInputDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
}

.genderInput {
    width: 31%;
}

.genderLabel {
    margin-left: 5px;
}

.genderLabel:hover {
    cursor: pointer;
}

.saveButton {
    width: 100%;
}

.logOutDiv {
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
}

.logOutSpan {
    color: #0074D9;
}

.logOutSpan:hover {
    cursor: pointer;
    color: #003366;
}

.errorMsgDiv {
    padding-top: 5px;
    color: #DC143C;
    font-size: 14px;
}

.ageWarningDiv {
    color: #DC143C;
    font-size: 14px;
    padding: 100px 0 5px 0;
    text-align: center;
}